.container {
    height: 75px;
    width: 100%;
    top:0;
    position: fixed;

    display: flex;
    justify-content: center;
    z-index: 100;
}

.container2 {
    height: 75px;
    width: 100%;
    top:0;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.542);
    display: flex;
    flex-direction: row;
    z-index: -1;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;

}

.logoSection{
    height: 100%;

}

.logo {
    height: 80px;
    margin-top: 5px;

}

.activeLink {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    height: 80px;
    width: 100%;
    background: rgba(1, 159, 1, 0.581);
}

.activeLink:hover {
    background: rgba(255, 255, 255, 0.611);
    transition: 0.5s;
    color: black;
    font-size: 26px;
}

.links  {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    height: 80px;
    width: 100%;

}


.links:hover {
    background: rgba(255, 255, 255, 0.695);
    transition: 0.5s;
    color: black;
    font-size: 26px;
}

.searchSection {
    width: 50%;
    visibility: visible;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    margin-top: 14px;
}

.search {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    margin-top: 4px;
    margin-right: -60px;
}

.searchInput {
    height: 42px;
    width: 100%;
    z-index: 0;
    border-radius: 24px;
    padding: 0 70px;
    font-size: 24px;


}

.hamburgerSection{

   padding: 5px;
   height: 50px;
   margin-top: 8px;


}

.navMenu {
    position: fixed;
    top: 62px;
    width: 78%;
    background: rgba(62, 62, 62, 0.817);
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    
}

.accountButtonsDiv {
    align-self: center;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.accountButtons {
    width: 50%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    background: rgba(62, 62, 62, 0.621);
    border-radius: 16px;

}

.accountButtons:hover {
    background: rgb(193, 193, 193);
    transition: 0.5s;
    color: black;
    cursor: pointer;
    font-size: 26px;
}

@media screen and (max-width: 1000px) {

.innerContainer {
    width: 100%;
}    

.navMenu {
    width: 100%;
    position: fixed;
    left: 0;

}

.hamburgerSection {
    position: relative;
    left: 12px;
}

}

@media screen and (max-width: 870px) {

    .logoSection {
        margin: auto;
    }

    .searchSection {
            pointer-events: none;
            display: none;
    }
}

@media screen and (max-width: 500px) {
    .accountButtonsDiv {
        flex-direction: column;
        height: 120px;
    }

    .accountButtons {
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        margin-top: 10px;
        height: 90%;
        display: flex;
        flex-direction: row;
    }
}